@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --primary-color: #00c2cb;
    --text-dark-color: #141414;
    --text-light-color: #DEDEDE;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.banner-container {
    width: 100vw;
    height: calc(100vh - 10vh);
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner-container .two {
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner-container .two img {
    width: 600px;
}
.banner-container span {
    color: var(--primary-color);
}
.banner-container .col h1 {
    font-size: 50px;
    text-transform: uppercase;
    font-weight: 600;
}
.banner-container .col .tagline {
    text-transform: uppercase;
    letter-spacing: 3px;
}

@media (max-width: 700px) {
    .banner-container {
        scale: 0.8;
    }
}

@media (max-width: 550px) {
    .banner-container {
        scale: 0.7;
    }
}

@media (max-width: 450px) {
    .banner-container {
        scale: 0.6;
    }
}